<h2>Países</h2>
<hr />
<ul class="list-group">
  <!-- <li
    routerLink=""
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
    class="list-group-item"
  >
    HomePage
  </li>
  <li
    routerLinkActive="active"
    routerLink="about"
    class="list-group-item">
    About
  </li>
  <li routerLinkActive="active" routerLink="contact" class="list-group-item">
    Contact
  </li> -->
  <li routerLinkActive="active" routerLink="countries/by-country" class="list-group-item">
    By Country
  </li>
  <li routerLinkActive="active" routerLink="countries/by-region" class="list-group-item">
    By Region
  </li>
  <li routerLinkActive="active" routerLink="countries/by-capital" class="list-group-item">
    By Capital
  </li>
</ul>
