<p>By Region</p>
<hr />
<div class="row">
  <div class="col text-center">
    <!-- Searchbox -->
    <button
      class="btn mx-2"
      *ngFor="let region of regions"
      [ngClass]="{ 'btn-outline-success': selectedRegion === region }"
      (click)="searchByRegion(region)"
    >
      {{ region }}
    </button>
  </div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner [message]="message" *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
